@use './variables' as var;

.text-18 {
	font-size: max(12px, 1.25vw);
}

.text-14 {
	font-size: max(10px, .9vw);
}

.text-24 {
	font-size: max(12px, 1.7vw);
}

.text-48 {
	font-size: max(24px, 3.3vw);
}

.text-36 {
	font-size: max(18px, 2.5vw);
}

.list-none {
	list-style: none;
}

a:visited {
	color: inherit;
}


@each $color, $value in var.$text-colors {
	.text-#{$color} {
		color: $value;
	}

	.bg-#{$color} {
		background-color: $value;
	}
}

@each $weight, $value in var.$weight {
	.font-#{$weight} {
		font-weight: $value;
	}
}