@use 'sass:math';

@for $i from 10 through 100 {
	$value: #{math.round($i / 1440 * 1000) / 10}vw;
	.p-#{$i} {
		padding: $value;
	}

	.py-#{$i} {
		padding-top: $value;
		padding-bottom: $value;
	}

	.pt-#{$i} {
		padding-top: $value;
	}

	.pb-#{$i} {
		padding-bottom: $value;
	}

	.pl-#{$i} {
		padding-left: $value;
	}

	.pr-#{$i} {
		padding-right: $value;
	}

	.px-#{$i} {
		padding-left: $value;
		padding-right: $value;
	}

	.m-#{$i} {
		margin: $value;
	}

	.my-#{$i} {
		margin-top: $value;
		margin-bottom: $value;
	}

	.mx-#{$i} {
		margin-left: $value;
		margin-right: $value;
	}

	.mt-#{$i} {
		margin-top: $value;
	}

	.mb-#{$i} {
		margin-bottom: $value;
	}

	.ml-#{$i} {
		margin-left: $value;
	}

	.mr-#{$i} {
		margin-right: $value;
	}
	$i: $i + 10;
}

@for $i from 0 through 100 {
	.opacity-#{$i} {
		opacity: #{$i / 100};
	}

	$i: $i + 10;
}

.py-5 {
	padding-top: .3vw;
	padding-bottom: .3vw;
}

.reset-button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: none;
}

.w-210 {
	width: max(145px, 14.5vw);
}

.w-120 {
	width: max(120px, 8.3vw);
}

.w-250 {
	width: max(115px, 17.3vw);
}

.w-full {
	width: 100%;
}

.w-half {
	width: 50%;
}

.h-220 {
	height: max(110px, 15.3vw);
}

.h-full {
	height: 100%;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-auto {
	overflow: auto;
}

.overflow-visible {
	overflow: visible;
}

.overflow-scroll {
	overflow: scroll;
}