@for $i from 10 through 100 {
	.p-#{$i} {
		padding: #{$i}px;
	}

	.py-#{$i} {
		padding-top: #{$i}px;
		padding-bottom: #{$i}px;
	}

	.pt-#{$i} {
		padding-top: #{$i}px;
	}

	.pb-#{$i} {
		padding-bottom: #{$i}px;
	}

	.pl-#{$i} {
		padding-left: #{$i}px;
	}

	.pr-#{$i} {
		padding-right: #{$i}px;
	}

	.px-#{$i} {
		padding-left: #{$i}px;
		padding-right: #{$i}px;
	}

	.m-#{$i} {
		margin: #{$i}px;
	}

	.my-#{$i} {
		margin-top: #{$i}px;
		margin-bottom: #{$i}px;
	}

	.mx-#{$i} {
		margin-left: #{$i}px;
		margin-right: #{$i}px;
	}

	.mt-#{$i} {
		margin-top: #{$i}px;
	}

	.mb-#{$i} {
		margin-bottom: #{$i}px;
	}

	.ml-#{$i} {
		margin-left: #{$i}px;
	}

	.mr-#{$i} {
		margin-right: #{$i}px;
	}
	$i: $i + 10;
}

@for $i from 0 through 100 {
	.opacity-#{$i} {
		opacity: #{$i / 100};
	}

	$i: $i + 10;
}

.w-210 {
	width: 210px;
}

.w-250 {
	width: 250px;
}

.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-auto {
	overflow: auto;
}

.overflow-visible {
	overflow: visible;
}

.overflow-scroll {
	overflow: scroll;
}