.spinner {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left-color: #333;
	border-radius: 50%;
	animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}